<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="static/bower_components/codemirror-repl/styles/codemirror-repl.css"/>
    <script src="static/bower_components/codemirror-repl/scripts/codemirror-repl.js"></script>
    <script src="static/bower_components/zepto/zepto.min.js"></script>
    <script src="static/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="static/js/shellquote.js"></script>
  </head>
  <body>
    <textarea id="repl" autofocus="true"></textarea> 
    <script>
      var repl = new CodeMirrorREPL("repl", {
          mode: "shell",
          theme: "eclipse"
      });
      repl.print("Exoline {{ version }}");
      repl.print('Type an Exoline command, e.g. "exo tree $CIK" or "exo spec $CIK http://tinyurl.com/exospec-tempconvert --create"');
      repl.print('(WARNING: $CIK will be automatically deleted after an hour. To create');
      repl.print('a device you can keep, sign up for a free Exosite account at ');
      repl.print('https://account.exosite.com/signup)');
      var ENV = {'CIK': '{{ tempcik }}'};
      repl.eval = function (code) {
          try {
              var args = shellquote.parse(code, ENV);
              console.dir(args);

              // construct an HTTP request
              if (args.length < 1 || args[0] != 'exo') {
                repl.print("Commands should start with exo. Try exo --h for a list of commands.")  
              } else {
                $.ajax({
                  type: 'POST', 
                  url: '/api', 
                  contentType: 'application/json; charset=UTF-8',
                  data: JSON.stringify({args: args}),
                  dataType: 'json',
                  success: function(data, status, xhr) {
                    console.log(status);
                    console.log(xhr);
                    repl.print(data.stdout + '\n' + data.stderr);
                  },
                  error: function(xhr, type) {
                    console.log(xhr);
                    console.log(type);
                    repl.print('ajax error: ' + xhr.status);
                  }
                });
              }
          } catch (error) {
              repl.print(error, "exception in eval");
          }
      };
    </script>
  </body>
</html>
