<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="static/bower_components/codemirror-repl/styles/codemirror-repl.css"/>
    <script src="static/bower_components/codemirror-repl/scripts/codemirror-repl.js"></script>
    <script src="static/bower_components/zepto/zepto.min.js"></script>
    <script src="static/bower_components/lodash/dist/lodash.min.js"></script>
    <!-- <script src="static/bower_components/ansi_up/ansi_up.js"></script> -->
    <script src="static/js/shellquote.js"></script>
  </head>
  <body>
    <textarea id="repl" autofocus="true"></textarea> 
    <script>
      var repl = new CodeMirrorREPL("repl", {
          mode: "shell",
          theme: "eclipse"
      });
      repl.print("Exoline {{ version }}");
      repl.print("This sandbox has a temporary device with $cik: {{ tempcik }}");
      repl.print('    exo --help');
      repl.print('    exo twee $cik');
      repl.print('    exo spec $cik http://tinyurl.com/exospec-tempconvert --create');
      repl.print('    exo write $cik temp_c --value=0');
      repl.print('If you want a permanent device, sign up for a free Exosite account at https://account.exosite.com/signup');
      repl.print('You can install the full version of Exoline here: https://github.com/exosite/exoline');

      var ENV = {'cik': '{{ tempcik }}'};
      function stripAnsi(s) {
        return s.replace(/\x1b\[[0-9;]*m/g, '');
      }
      repl.eval = function (code) {
          try {
              var args = shellquote.parse(code, ENV);
              console.dir(args);

              // construct an HTTP request
              if (args.length < 1 || args[0] != 'exo') {
                repl.print("Commands should start with exo. Try exo --h for a list of commands.")  
              } else {
                $.ajax({
                  type: 'POST', 
                  url: '/api', 
                  contentType: 'application/json; charset=UTF-8',
                  data: JSON.stringify({args: args}),
                  dataType: 'json',
                  success: function(data, status, xhr) {
                    console.log(status);
                    console.log(xhr);

                    repl.print(stripAnsi(data.stdout) + '\n' + stripAnsi(data.stderr));
                    //repl.print(ansi_up.ansi_to_html(data.stdout) + '\n' + ansi_up.ansi_to_html(data.stderr));
                  },
                  error: function(xhr, type) {
                    console.log(xhr);
                    console.log(type);
                    repl.print('ajax error: ' + xhr.status);
                  }
                });
              }
          } catch (error) {
              repl.print(error, "exception in eval");
          }
      };
    </script>
  </body>
</html>
