<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="static/bower_components/codemirror-repl/styles/codemirror-repl.css"/>
    <script src="static/bower_components/codemirror-repl/scripts/codemirror-repl.js"></script>
    <script src="static/bower_components/zepto/zepto.min.js"></script>
  </head>
  <body>
    <textarea id="repl" autofocus="true"></textarea> 
    <script>
      var repl = new CodeMirrorREPL("repl", {
          mode: "shell",
          theme: "eclipse"
      });
      repl.print("Exoline {{ version }}");
      repl.print('Type an exo command, e.g. "tree {{ tempcik }}"');
      repl.eval = function (code) {
          try {
              var cmds = code.split(/\s+/);
              // construct an HTTP request
              $.ajax({
                type: 'POST', 
                url: '/api', 
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify({args: cmds}),
                dataType: 'json',
                success: function(data, status, xhr) {
                  console.log(status);
                  console.log(xhr);
                  repl.print(data.stdout + '\n' + data.stderr);
                },
                error: function(xhr, type) {
                  console.log(xhr);
                  console.log(type);
                  repl.print('ajax error: ' + xhr.status);
                }
              });
          } catch (error) {
              repl.print(error, "error");
          }
      };
    </script>
  </body>
</html>
